/* GENERICS */
li {
    list-style-type: none;
}

ul {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f5f7f7;
    padding: 20px;
}

#root img{
    max-width: 30%;
}

.input-group{
    max-width: 30%;
    margin: 0 auto;
}

.text-lt{
    text-decoration:line-through;
}